@import url("../colors.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

.baseLayoutContainer {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    padding: 0;
    width: 100vw;
    margin-bottom: 4em;
    
}

.baseLayoutContainer h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    color: var(--color-secondary);
    text-shadow:
        0 0 7px #ec86dee0,
        /* 0 0 10px #ec86dee0, */
        /* 0 0 21px #ec86dee0, */
        0 0 15px var(--color-highlight);
        /* 0 0 82px var(--color-highlight); */
        /* 0 0 92px var(--color-highlight),
        0 0 102px var(--color-highlight),
        0 0 151px var(--color-highlight); */
}

/* .logo {
    width:300px;
    
} */