@import url("colors.css");

.footer {
display: flex;
background-color:#202225;
width: 100%;
position: fixed;
bottom: 0;
justify-content: center;
margin-top: 2em;
}

.footer a {
    color: #59511e;
    width: 20px;
}
