@import url("colors.css");

.searchContainer {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
}

.searchInput {
   background: none;
   border: none; 
   border-bottom: 1px solid var(--color-secondary);
   padding: 5px;
   margin: 2em 0;
   outline: none;
   color: var(--color-font);
}

::-webkit-input-placeholder {
    color: var(--color-secondary);
}

.ingredientGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ingredientCard {
    font-size: 12px;
    display: flex;
    box-shadow: 4px 4px 4px #ec86ded9;
    height: 50px;
    width: 155px;
    margin: 1em;
    color: var(--color-font);
    align-items: center;
    font-weight: 700;
    font-size: small;
    
}

.ingredientCard span{
    margin-left: 1em;
}



.ingredientCard button {
    margin: 0 0 0 auto;
    height: 100%;
    width: 20%;
    border: 1px solid rgba(0,0,0,0.18);
    transition: 0.2s ease-in-out;
    text-align: center;


}


.ingredientCard button:hover {
    cursor: pointer;
    background: #00ff68;
    color: var(--color-font);
    
}

.ingredientCard.owned button:hover {
    cursor: pointer;
    background: tomato;
    color: var(--color-font);
}

.owned {
    background: #01c750;
    color: var(--color-font);
    font-weight: 700;
    font-size: small;
   
}