.ingredientsContainer{
    padding:3em;
}

.ingredientsContainer input {
    border: solid 2px #966345;
    background: none;
    
}

::placeholder {
    color: #59511e;

}

.ingredientsContainer button {
    background-color:#b1d6c9;
    border-radius: 3px;
    color:#966345;
}