@import url("colors.css");

.searchContainer {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
}

.searchInput {
   background: none;
   border: none; 
   border-bottom: 1px solid var(--color-secondary);
   padding: 5px;
   margin: 2em 0;
   outline: none;
   color: var(--color-font);
}

::-webkit-input-placeholder {
    color: var(--color-secondary);
}

.ingredientGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ingredientCard {
    font-size: 12px;
    display: flex;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
    border: 1px solid var(--color-secondary);
    height: 50px;
    width: 150px;
    margin: 1em;
    color: var(--color-font);
}

.ingredientCard span {
    margin: 1em;
}

.ingredientCard button {
    margin: 0 0 0 auto;
    height: 100%;
    width: 20%;
    border: 1px solid rgba(0,0,0,0.18);
    transition: 0.2s ease-in-out;
}


.ingredientCard button:hover {
    cursor: pointer;
    background: rgb(50, 153, 84);
    color: var(--color-font);
}

.ingredientCard.owned button:hover {
    cursor: pointer;
    background: tomato;
    color: var(--color-font);
}

.owned {
    background: rgb(50, 153, 84);
    color: var(--color-font);
}

/* OwnedIngredients styles */
.ingredientTag {
    background:var(--color-highlight); 
    color: var(--color-font);
    font-weight: bold;
    padding: 10px;
    margin-right: 1em;
    margin-bottom: 1em;
}