@import url("colors.css");

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginContainer h1 {
color: #fff;
text-align: center; 
}

.loginContainer input {
    border: solid 2px var(--color-highlight);
    background: rgba(255, 255, 255, 0.845);
    margin: 3px;
}

::placeholder {
    color: var(--color-secondary);

}

/* .loginContainer button {
    background-color:var(--color-highlight);
    border-radius: 3px;
    color:var(--color-font);
    border: solid 2px var(--color-highlight);

} */
.button{
    display: flex;
}

.button button {
    background-color:var(--color-highlight);
    border-radius: 3px;
    color:var(--color-font);
    border: solid 2px var(--color-highlight);
}




.logout button{
    padding: .5em;
    margin-left: .5em;
}