.menuContainer {
    background-color: black;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    margin-top: 2em;
    justify-content: center;
    
    
    
}

.menuOptions {
    margin: 0 20px 0px 20px;
    
}

.menuOptions a {
    color: #ec86de;
    font-size: large;
    text-align: center;
    background-color: black;
}

.logo {
 width: 80px;
}