@import url("colors.css");

.menuContainer {
    background-color: #202225;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    justify-content: center;  
    width: 100%;
}



.menuContainer img{
    margin-right: 2em;
}

.menuContainer a {
    color: var(--color-secondary);
    text-align: center;
    background-color: #202225;
    margin-right: 30px;
    margin-top: 50px;
    font-size: large;
    
}

