.ownedIngredients {
    display: flex;
    flex-wrap: wrap;
    background:var(--color-bg); 
    color: var(--color-secondary);
    padding: 10px;
    margin-right: 1em;
    margin-bottom: 1em;
}

.ingredientTag {
    font-size: 16px;
    box-shadow: 4px 4px 4px #ec86ded9;
    margin: 1em;
    color: var(--color-font);
    background-color: #202020;
    padding:1em;
   
}



