.registerContainer input {
    border: solid 2px var(--color-secondary);
    background: none;
}

::placeholder {
    color: var(--color-secondary);

}

.registerContainer button {
    background-color:var(--color-highlight);
    border-radius: 3px;
    color:var(--color-font);
}